@*<ul data-bind="foreach: accounts">
    <li data-bind="text: description"></li>
</ul>*@

<script type="text/javascript">
$(function () {

    var vm = new WS.Accounts.homeViewModel();
    //var viewModel = new homeViewModel();
    //ko.applyBindings(viewModel);

});

</script>
